footer {

    overflow: hidden;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: #5f5e56;
    padding: 25px 20px 20px 20px;
    min-height: 160px;
    z-index: 104;
    position: relative;
    background-color: #090809;
    margin-top: 181px;
    a{
        color: #9a8866;
        display: block;
        opacity: 0.85;
        transition: opacity 0.5s ease;
         img {
            float: left;
            margin-right: 45px;
        }
    }

     .right_block {
        float: right;
        text-align: right;
        padding: 20px 0;
        .inline{
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
        }
          .legal {
            width: 100%;
            text-align: right;
            font-size: 14px;
            // color: #aeaeb0;
            margin-top: 32px;
            margin-bottom: 10px;
            li {
                position: relative;
                padding: 0;
                margin-right: 5px;
                a{
                    color: #aeaeb0;
                    text-decoration: underline;
                    text-transform: uppercase;
                    font-size: 14px;
                    text-align: center;
                }
            }
            
        }
    }

}